openapi: 3.1.0
info:
  title: FoldForge Gateway API
  version: 0.1.0
  description: >
    Public HTTP surface for FoldForge. Clients submit protein-design workflows
    (DAGs of RFdiffusion / ProteinMPNN / Boltz / AF2 steps), poll status, and
    stream events. The gateway authenticates requests and forwards to the
    internal gRPC orchestrator.
  license:
    name: Apache-2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
servers:
  - url: https://api.foldforge.io
    description: Production
  - url: http://localhost:8080
    description: Local dev

security:
  - bearerAuth: []

paths:
  /v1/healthz:
    get:
      summary: Liveness probe
      operationId: healthz
      security: []
      responses:
        "200":
          description: Service healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string, example: ok }
                  version: { type: string }

  /v1/workflows:
    post:
      summary: Submit a workflow
      operationId: submitWorkflow
      parameters:
        - in: header
          name: Idempotency-Key
          schema: { type: string }
          required: false
          description: Dedupe retried submissions.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/WorkflowSpec" }
      responses:
        "201":
          description: Workflow accepted
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Workflow" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
    get:
      summary: List workflows
      operationId: listWorkflows
      parameters:
        - in: query
          name: page_size
          schema: { type: integer, minimum: 1, maximum: 100, default: 20 }
        - in: query
          name: page_token
          schema: { type: string }
        - in: query
          name: state
          schema: { $ref: "#/components/schemas/JobState" }
      responses:
        "200":
          description: Page of workflows
          content:
            application/json:
              schema:
                type: object
                properties:
                  workflows:
                    type: array
                    items: { $ref: "#/components/schemas/Workflow" }
                  next_page_token: { type: string }

  /v1/workflows/{workflowId}:
    parameters:
      - in: path
        name: workflowId
        required: true
        schema: { type: string }
    get:
      summary: Get a workflow
      operationId: getWorkflow
      responses:
        "200":
          description: Workflow
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Workflow" }
        "404": { $ref: "#/components/responses/NotFound" }
    delete:
      summary: Cancel a workflow
      operationId: cancelWorkflow
      responses:
        "200":
          description: Cancellation requested
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Workflow" }
        "404": { $ref: "#/components/responses/NotFound" }

  /v1/workflows/{workflowId}/events:
    parameters:
      - in: path
        name: workflowId
        required: true
        schema: { type: string }
    get:
      summary: Stream workflow events (Server-Sent Events)
      operationId: streamWorkflowEvents
      description: >
        Returns a text/event-stream of StepStatus and Workflow updates until the
        workflow reaches a terminal state.
      responses:
        "200":
          description: SSE stream
          content:
            text/event-stream:
              schema:
                $ref: "#/components/schemas/WorkflowEvent"
        "404": { $ref: "#/components/responses/NotFound" }

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API key

  responses:
    BadRequest:
      description: Invalid request
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }
    Unauthorized:
      description: Missing or invalid credentials
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }

  schemas:
    JobState:
      type: string
      enum: [QUEUED, RUNNING, SUCCEEDED, FAILED, CANCELLED]

    Tool:
      type: string
      enum: [rfdiffusion, proteinmpnn, boltz, af2]

    ResourceSpec:
      type: object
      properties:
        gpu_type: { type: string, example: A100-80G }
        gpu_count: { type: integer, default: 1 }
        cpu_cores: { type: integer }
        memory_mb: { type: integer }
        timeout_seconds: { type: integer }

    Artifact:
      type: object
      properties:
        uri: { type: string, example: "r2://foldforge/abc123.pdb" }
        content_type: { type: string }
        size_bytes: { type: integer }
        sha256: { type: string }
        metrics:
          type: object
          additionalProperties: { type: number, format: double }
          description: >
            Per-artifact quality metrics (e.g. plddt, ptm, iptm, confidence),
            carried so design ranking signal survives the prediction→artifact
            flattening.

    DesignedSequence:
      type: object
      description: An inverse-folding output (ProteinMPNN); inline FASTA, not an artifact.
      properties:
        fasta: { type: string }
        global_score:
          type: number
          format: double
          description: Mean negative log-likelihood; lower is better.
        seq_recovery: { type: number, format: double }
        sample_index: { type: integer }

    Step:
      type: object
      required: [id, tool]
      properties:
        id: { type: string }
        tool: { $ref: "#/components/schemas/Tool" }
        depends_on:
          type: array
          items: { type: string }
        params:
          type: object
          additionalProperties: true
          description: Tool-specific params, validated against the matching sidecar schema.
        resources: { $ref: "#/components/schemas/ResourceSpec" }

    WorkflowSpec:
      type: object
      required: [name, steps]
      properties:
        name: { type: string }
        steps:
          type: array
          items: { $ref: "#/components/schemas/Step" }
        labels:
          type: object
          additionalProperties: { type: string }

    StepStatus:
      type: object
      properties:
        step_id: { type: string }
        state: { $ref: "#/components/schemas/JobState" }
        fraction: { type: number, format: float }
        outputs:
          type: array
          items: { $ref: "#/components/schemas/Artifact" }
        sequences:
          type: array
          items: { $ref: "#/components/schemas/DesignedSequence" }
          description: Inverse-folding outputs (ProteinMPNN); empty for other tools.
        error: { $ref: "#/components/schemas/Error" }
        started_at: { type: string, format: date-time }
        finished_at: { type: string, format: date-time }

    Workflow:
      type: object
      description: >
        Workflow status. The gateway flattens the spec into top-level `name` and
        `steps` for client convenience.
      properties:
        id: { type: string }
        name: { type: string }
        state: { $ref: "#/components/schemas/JobState" }
        steps:
          type: array
          items: { $ref: "#/components/schemas/Step" }
        step_statuses:
          type: array
          items: { $ref: "#/components/schemas/StepStatus" }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }

    WorkflowEvent:
      type: object
      properties:
        workflow_id: { type: string }
        step_update: { $ref: "#/components/schemas/StepStatus" }
        workflow_update: { $ref: "#/components/schemas/Workflow" }
        at: { type: string, format: date-time }

    Error:
      type: object
      properties:
        code: { type: string }
        message: { type: string }
        retryable: { type: boolean }
